//
// Color variables (defaults by https://github.com/mrmrs/colors)
//
// - Cool
// - Warm
// - Gray Scale
// - Semantic
//

// Cool

$aqua                       : #7FDBFF !default;
$blue                       : #0074D9 !default;
$navy                       : #001F3F !default;
$teal                       : #39CCCC !default;
$green                      : #2ECC40 !default;
$olive                      : #3D9970 !default;
$lime                       : #01FF70 !default;

// Warm

$yellow                     : #FFDC00 !default;
$orange                     : #FF851B !default;
$red                        : #FF4136 !default;
$fuchsia                    : #F012BE !default;
$purple                     : #B10DC9 !default;
$maroon                     : #85144B !default;

// Gray Scale

$white                      : #fff !default;
$silver                     : #ddd !default;
$gray                       : #aaa !default;
$black                      : #111 !default;

// Semantic classes

$alpha-text-color           : $black !default;
$beta-text-color            : $gray !default;

$alpha-ui-color             : $blue !default; // Primary elements
$beta-ui-color              : $gray !default; // Secondary elements
$gamma-ui-color             : $silver !default; // Used for borders
$delta-ui-color             : $white !default; // Used for backgrounds

$error-color                : $red !default;
$success-color              : $green !default;
$notice-color               : $yellow !default;

// Links

$alpha-link-color           : $alpha-ui-color !default;
$alpha-link-colorhover      : darken($alpha-link-color, 10) !default;
$alpha-link-colorfocus      : darken($alpha-link-color, 10) !default;
$alpha-link-coloractive     : lighten($alpha-link-color, 10) !default;
$alpha-link-colorvisited    : darken($alpha-link-color, 5) !default;
