//
// Type
//

$alpha-font-family:     'Libre Baskerville', serif !default;

$alpha-font-size:       16 !default;  // Pixel value !default;
$alpha-line-height:     1.5 !default;
$alpha-baseline-grid:   7 !default;  // Pixel value
$alpha-leading:         1 !default; // multiplier
$ratio:                 $augmented-fourth !default;

// TO DO
$baseline-holder:       'article' !default;
$show-baseline-grid:    false !default;
// Vertical Rythm
