// UI-related variables

$radius                     : 5px !default;
$border-width               : 1px !default;
$border-style               : solid !default;
$shadow                     : 21% !default; // Range: 0-100%
$hover                      : 5% !default; // Range: 0-100%

$animation-timing           : 250ms !default;
$animation-easing           : ease-in-out !default; // http://easings.net/