//http://www.sitepoint.com/sass-mixins-kickstart-project/
@function opposite-position($directions) {
    $opposite-directions: ();
    $direction-map: (
      'top': 'bottom',
      'right': 'left',
      'bottom': 'top',
      'left': 'right',
      'ltr': 'rtl',
      'rtl': 'ltr'
    );

  @each $direction in $directions {
    $opposite-direction: map-get($direction-map, $direction);
    @if $opposite-direction != null {
      $opposite-directions: append($opposite-directions, #{$opposite-direction});
    }
    @else {
      @warn "No opposite direction can be found for `#{$direction}`.";
    }
  }

  @return $opposite-directions;
}

@function previous-position($directions) {
    $previous-directions: ();
    $direction-map: (
      'top': 'left',
      'right': 'top',
      'bottom': 'right',
      'left': 'bottom'
    );

  @each $direction in $directions {
    $previous-direction: map-get($direction-map, $direction);
    @if $previous-direction != null {
      $previous-directions: append($previous-directions, #{$previous-direction});
    }
    @else {
      @warn "No previous direction can be found for `#{$direction}`.";
    }
  }

  @return $previous-directions;
}