/**
$breakpoints: (
  'tiny':   ( max-width:  767px ),
  'small':  ( min-width:  768px ),
  'medium': ( min-width:  992px ),
  'large':  ( min-width: 1200px ),
  'custom': ( min-height:  40em )
);
 */
/* No files to import found in components/**\/* */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html {
  color: red;
  transition: all 250ms ease-in-out;
  transform: scale(1, 1);
}
