@mixin remove-outline() {
  outline: none;
}

@mixin placeholder-style($c) {
    ::-webkit-input-placeholder { /* WebKit browsers */
        color: $c;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color: $c;
       opacity: 1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
       color: $c;
       opacity: 1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
       color: $c;
    }
}
