// @include triangle(#direction, #size, #color, #border-width, #border-color, #position (%));
@mixin triangle-bordered($d, $s, $c, $bw, $bc, $p: 50%) {

    $d: to-lower-case($d);

    @if not index(top right bottom left, $d) {
        @warn "Direction must be one of `top`, `right`, `bottom` or `left`; currently `#{$d}`.";
    }

    @else {
        position: relative;

        &:after,
        &:before {
            #{opposite-position($d)}: calc(100% - #{$bw});
            #{previous-position($d)}: 100% - $p;
            border: solid transparent;
            content: " ";
            @include size(0);
            position: absolute;
            pointer-events: none;
        }

        &:after {
            // Color
            border-color: rgba($c, 0);
            border-#{opposite-position($d)}-color: $c;
            border-width: $s;
            margin-#{previous-position($d)}: -$s;
        }
        &:before {
            // Border color
            $magic: 1.41421356; // cos(PI/4) * 2
            border-color: rgba($bc, 0);
            border-#{opposite-position($d)}-color: $bc;

            // https://github.com/hojberg/cssarrowplease/blob/master/public/js/cssarrowplease.js#L222
            border-width: $s + round($bw * $magic);
            margin-#{previous-position($d)}: -($s + round($bw * $magic));
        }
    }
}

// Draw a triangle in CSS
// @include triangle(#color, #width, #direction);
@mixin triangle($c, $w, $h, $d) {
    width: 0;
    height: 0;
    content: '';

    @if $d == l {
        border-top: $w solid transparent;
        border-bottom: $w solid transparent;
        border-right: $h solid $c;
    } @else if $d == r {
        border-top: $w solid transparent;
        border-bottom: $w solid transparent;
        border-left: $h solid $c;
    } @else if $d == t {
        border-left: $w solid transparent;
        border-right: $w solid transparent;
        border-bottom: $h solid $c;
    } @else if $d == b {
        border-left: $w solid transparent;
        border-right: $w solid transparent;
        border-top: $h solid $c;
    }
}
