// Progressive svg backgrounds with png fallback.
// Requires modernizr class .svg.
// @include svg-bg("path/file", ".extension", $delta-ui-color, 0 50%, no-repeat);

@mixin mdrn-svg { .svg & { @content } }

@mixin svg-bg($filename, $extension: '.png', $bg-color: transparent, $position: 0 0, $repeat: no-repeat, $size: auto) {
	background: $bg-color url($filename + $extension) $position $repeat;
	background-size: $size;
	@include mdrn-svg { background: $bg-color url($filename + '.svg') $position $repeat; background-size: $size; }
}

// Hax0rZ
@mixin equal-height {
    padding-bottom: 500em;
    margin-bottom: -500em;
}


// Baseline mixins

// Vertical padding based on the base line-height
// @include padding-tb(#top, #bottom);

@mixin padding-tb($top: 1, $bottom: 0) {
    padding-top: $alpha-line-height * 1em * $top;
    padding-bottom: $alpha-line-height * 1em * $bottom;
}

// Padding-bottom based on the base line-height
// @include padding-bottom(#bottom),

@mixin padding-bottom($bottom: 1) {
    padding-bottom: $alpha-line-height * 1em * $bottom;
}

// Padding-top based on the base line-height
// @include padding-top(#top);

@mixin padding-top($top: 1) {
    padding-top: $alpha-line-height * 1em * $top;
}

// Vertical margin based on the base line-height
// @include margin-tb(#top, #bottom)

@mixin margin-tb($top: 1, $bottom: 0) {
    margin-top: $alpha-line-height * 1em * $top;
    margin-bottom: $alpha-line-height * 1em * $bottom;
}

// Margin-bottom based on the base line-height
// @include margin-bottom(#bottom);

@mixin margin-bottom($bottom: 1) {
    margin-bottom: $alpha-line-height * 1em * $bottom;
}





@mixin margin-bottom-baseline($bottom: 1) {
    margin-bottom: 1em * ((ceil($alpha-font-size/$alpha-baseline-grid)*$alpha-baseline-grid)+($alpha-baseline-grid*$bottom))/$alpha-font-size;
}




@mixin border($bw: $border-width, $bs: $border-style, $bc: $border-color, $p: 'all') {
    @if $p == 'all' {
        border: $bw $bs $bc;
    } @else {
        border-#{$p}: $bw $bs $bc;
    }
}


@mixin inset-border($c, $s, $r: $radius) {
    padding: $s;

    &:before {
        border-radius: $radius;
        content: " ";
        position: absolute;
        z-index: 1;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        border: $s solid $c;
    }
}

@mixin transition($at: $animation-timing, $ae: $animation-easing, $p: 'all') {
    transition: #{$p} $at $ae;
}



@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}


@mixin position($position, $args) {
    @each $o in top right bottom left {
        $i: index($args, $o);

        @if $i and $i + 1 <= length($args) and type-of(nth($args, $i + 1)) == number  {
            #{$o}: nth($args, $i + 1);
        }
    }

    position: $position;
}


@mixin absolute($args) {
        @include position("absolute", $args);
}


@mixin fixed($args) {
        @include position("fixed", $args);
}


@mixin relative($args) {
        @include position("relative", $args);
}


/**
$breakpoints: (
  'tiny':   ( max-width:  767px ),
  'small':  ( min-width:  768px ),
  'medium': ( min-width:  992px ),
  'large':  ( min-width: 1200px ),
  'custom': ( min-height:  40em )
);
 */
@mixin breakpoint($name) {
      @if map-has-key($breakpoints, $name) {
        @media #{inspect(map-get($breakpoints, $name))} {
      @content;
    }
  }
  @else {
    @warn "Couldn't find a breakpoint named `#{$name}`.";
  }
}


// Horizontal responsive navigation.
// @include list-nav on <ul> or <ol>;
// @include horizontal-nav on <ul> or <ol>;

@mixin list-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin horizontal-nav {
    li, a {
        display: block;
        float: left;
        zoom: 1;
    }
}
