// Import plugins


// Import the Theme overrides
//@import "variables";

// Import Boxspring
@import '../../../scss/variables';
@import '../../../scss/logic';
@import '../../../scss/components';
@import '../../../scss/extensions';
@import '../../../scss/helper-classes';

// Import custom theme
//@import 'base/base';
//@import 'theme/typography';


html {
    color: red;
    @include transition;

    transform: scale(1, 1);
}